@charset "utf-8";
html,body{
    background-color: #ffffff;
    color: black;
    font-family: "맑은고딕";
    font-size: 16px;
}

a{
    color: #333333;
    text-decoration: none;
}

a:hover{
    color: #666;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    vertical-align: middle;
}

.table,td.th{
    border: 1px solid black;
    border-collapse: collapse;
}

main{
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}

.top-header{
    width: 100%;
    background-color: grey;
}

.top-con{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.site-top{
    width: 200px;
    margin: 0 50px;
}

.site-top a{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.members{
    width: 200px;
}

.members a{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

header{
    width: 100%;
    height: auto;
    background: white;
}

h1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 a{
    width: 300px;
    padding: 30px 0;
}

h1 img{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-box{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    /* display: none; */
}

nav{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: 40px;
    display: flex;
}

.main-nav{
    width: 100%;
    height: auto;
    position: relative;
    margin: auto;
}

.main-nav>a{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 21px;
    font-weight: bold;
    color: black;

}

.drop{
    position: absolute;
    width: 100%;
    background-color: white;
    margin-top: 1px;
    height: 435px;
    display: none;
    z-index: 999;
}

.drop a{
    display: inline-block;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size: 19px;
    color: #333333;
}

.drop a:hover{
    background-color: black;
    color: white;
}

#content{
    width: 100%;
    height: 600px;
}

.slider-wrap{
    width: 100%;
    /* height: 400px; */
    position: relative;
}

.slide img{
    width: 100%;
}

.slider{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.slide{
    width: 100%;
    /* height: 100%; */
    position: absolute;
}

.n-n-m{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.n-n-m>div{
    width: 100%;
}

.n-n-m h2{
    width: 100%;
    height: 100%;
    padding: 30px 10px;
    /* background-color: beige; */
    color: black;
    font-size: 31px;
    font-weight: bold;
    text-align: center;
}

.n-n-m h2:hover{
    background-color: black;
    color: #eeeeee;
}

.n-n-m ul{
    height: 350px;
    background-color: #ffffff;
    /* border: 1px dashed black; */
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    line-height: 260%;
    clear: both;
}

.notic,
.notic-2{
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

.notic span img,
.notic-2 span img{
    float: right;
}

.notic li,
.notic-2 li{
    padding: 10px 10px;
    list-style: none;
}

.notic li a,
.notic-2 li a{
    color: #666;
}

/* .notic li:nth-child(even){
    background-color: beige;
}

.notic-2 li:nth-child(even){
    background-color: beige;
} */

.notic li span,
.notic-2 li span{
    float: right;
    color: silver;
}

.reservation{

}

.reservation img{
    width: 100%;
    margin-top: 10px;
}

.icon-wrap{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 80%;
    align-items: center;
}

.icon-wrap a{
    width: 45%;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-wrap img{
    width: 60%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.icon-wrap p{
    position: relative;
    width: 70%;
    background-color: rgba(0,0,0,0.5);
    font-size: 0.8rem;
    font-weight: bold;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.b-v-b{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    overflow: hidden;
    border-bottom: 1px dashed black;
    padding-bottom: 10px;
}

.b-v-b>div{
    width: 33.33%;
}

.banner img,
.banner-2 img{
    width: 93%;
    height: auto;
}

.video-container>div{
    width:100%;
    position: relative;
    height:0;
    padding-bottom:56.25%;
}

iframe{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
}

.map{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 10px;
}

.map-container>div{
    width: 100%;
}

.map-container>h3{
    margin: -10px 0 18px;
    padding-top: 30px;
    font-size: 38px;
    text-align: center;
}

.map-container>p{
    font-size: 18px;
    text-align: center;
}

footer{
    width: 100%;
    background-color: gray;
}

.footer-bar{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.footer-bar a{
    font-size: 13px;
    font-weight: bold;
    color: white;
}

.footer-low{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    height: auto;
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
    overflow: hidden;
    padding-bottom: 10px;
}

.footer-text{
    font-size: 16px;;
    color: black;
}

.sns{
    width: 17%;
    max-width: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sns a{
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.sns a img{
    width: 100%;
}

.modal-wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 99999;
    display: none;
}

.modal-body{
    width: 500px;
    height: 570px;
    position: relative;
    background: url("../images/login-wp.jpg");
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #fff;
    border-radius: 40px;
    padding: 30px 40px;
}

.modal-body h1{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 17px;
}

.input-box{
    position: relative;
    padding-bottom: 20px;
}

.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    position: relative;
    background:transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i{
    position: absolute;
    right: 31px;
    top: 36%;
    transform: translateY(-50%);
    font-size: 20px;
}

.modal-body .remmber-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin: -15px 0 15px;
}

.remmber-forgot label input{
    accent-color: #fff;
    margin-right: 3px;
    padding-top: 3px
}

.remmber-forgot a{
    color: #fff;
    text-decoration: none;
    float: right;
    padding-top: 3px;
}

.remmber-forgot a:hover{
    text-decoration: underline;
}

.modal-body .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.modal-body .register-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-align: center;
}

.register-link p a:hover{
    text-decoration: underline;
}

.naver,
.kakao,
.face{
    border:none;
    background-color:red;
    text-indent:-9999px;
    display:block;
    width:100%;
    height:50px;
    margin:10px 0;
    border-radius: 40px;
    
    

}
.naver{
    background:#03c75a url(../images/naver.png) no-repeat center;
    background-size:35%;
}
.kakao{
    background:#fee500 url(../images/kakao.png) no-repeat center;
    background-size:45%;
}
.face{
    background:#3c66c4 url(../images/facebook.png) no-repeat center;
    background-size:contain;
}

.modal-close{
    position: absolute;
    width: 7%;
    height: 23px;
    top: 20px;
    right: 40px;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.modal-wrap-2{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 99999;
    display: none;
}

.modal-body-2{
    width: 800px;
    position: relative;
    background: url("../images/members-2.jpg");
    backdrop-filter: blur(50px);
    border-radius: 10px;
    color: #fff;
    padding: 40px 35px 55px;
}

.modal-body-2 h4{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.modal-body-2 .input-box-2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: transparent
}

.input-box-2 .input-field{
    position: relative;
    width: 48%;
    height: 50px;
    background: transparent;
    margin: 13px 0;
}

.input-box-2 .input-field input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
    padding: 15px 15px 15px 40px;
}

.input-box-2 .input-field input::placeholder{
    color: #fff;
}

.input-box-2 .input-field i{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.modal-body-2 label{
    display: inline-block;
    font-size: 14px;
    margin: 10px 0 23px;
}

.modal-body-2 label input{
    accent-color: #fff;
    margin-right: 5px;
}

.modal-body-2 .btn{
    width: 100%;
    height: 45px;
    border: 1px solid black;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.modal-close-2{
    position: absolute;
    width: 3%;
    height: 18px;
    top: 24%;
    right: 29.7%;
    background: white;
    border: 1px solid black;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.mobile-nav{
    display: none;
}

@media screen and (max-width:1100px){
    .site-top a{
        font-size: 12px;
        font-weight: bold;
        color: white;
    }

    .members a{
        font-size: 12px;
        font-weight: bold;
        color: white;
    }

    .header-wrap{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    h1 a{
        width: 230px;
        padding: 20px 0;
    }

    h1 img{
        width: 100%;
    }

    .n-n-m h2{
        font-size: 28px;
    }

    .notic span img, 
    .notic-2 span img{
        width: 13%;
    }

    .notic li a, 
    .notic-2 li a{
        font-size: 15px;
    }

    .nav-box{
        display: none;
    }

    .n-n-m{
        flex-wrap: wrap;
        justify-content: center;
    }

    .n-n-m>div{
        width: 50%;
    }

    .icon-box{
        width: 80% !important;
        margin-top: 10px;
    }

    .reservation{
        width: 90%;
    }

    .reservation img{
        justify-content: center;
        align-items: center;
        padding-left: 70px;
    }

    .b-v-b{
        flex-wrap: wrap;
        justify-content: center;
    }

    .b-v-b>div{
        width: 50%;
        padding-right: 10px;
        padding-left: 10px;
    }

    .banner img{
        width: 93%;
        height: auto;
    }

    .banner-2 img{
        width: 100%;
        height: auto;
    }
    .video-container{
        
    }
    .video-container>div{
        width:100%;
        position: relative;
        height:0;
        padding-bottom:56.25%;
    }
    iframe{
        position:absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
    }

    .mobile-nav{
        display: block;
        width: 30px;
        height: 30px;
        position: absolute;
        right: 13px;
    }

    button.m-open{
        width: 100%;
        height: 100%;
        border: none;
        background-color: transparent;
        font-size: 24px;
        padding-right: 45px;
    }
}

@media screen and (max-width:460px){
    h1 a{
        width: 150px;
        padding: 15px 0;
    }

    .n-n-m h2{
        font-size: 17px;
    }

    .notic span img, 
    .notic-2 span img{
        width: 20%;
    }

    .notic li a, 
    .notic-2 li a{
        font-size: 11px;
    }

    .reservation img{
        width: 100%;
    }

    .map-container>h3{
        font-size: 18px;
    }

    .map-container>p{
        font-size: 15px;
    }

    .footer-bar a{
        font-size: 11px;
        font-weight: bold;
    }

    .footer-text{
        font-size: 10px;
    }

    .sns{
        width: 60%;
    }

}






